@charset "UTF-8";

:root{
    --primary-background-color: #052338;
    --secondary-background-color: #1e90ff;
    --body-background: linear-gradient(to right, #1493dc, #113647);
    --text-color: #ffffff;
    --input-text-color: #000000;
    --hr-color: rgba(204, 204, 204, 0.5);
    --background-button-color: rgb(0, 92, 197);
    --hover-button-color: rgb(0, 79, 170);
    --copy-button-background-color: #031725;
    --copy-button-emphasis-color: rgba(255, 255, 255, 1);
    --copy-button-background-emphasis-color: #062d49;
    --popup-background-color: #707070;
    --input-border-bottom: 1px solid white;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-color);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--body-background);
    overflow-x: hidden;
}

main{
    align-items: center;
    padding-top: 25px;
}

.flex-column-wrap{
    display: flex;
    flex-flow: column wrap;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 25px;

    div{
        position: relative;
    }
}

.container{
    width: 800px;
    background-color: var(--primary-background-color);
    padding: 15px;
    border-radius: 15px;
}

.title-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container > section{
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

h1, h2, h3, h4{
    margin-bottom: 20px;
}

.container-relative{
    position: relative;
}

input{
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 1em;
    color: var(--input-text-color);
}

.float-input{
    height: 100%;
    width: 100%;
    background: none;
    border-bottom: var(--input-border-bottom);
    color: var(--text-color);
    padding-left: 10px;
}

.float-label{
    position: absolute;
    top: 1px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    color: var(--text-color);
}

.flex-item-delivery-person-name{
    flex: 0 0 40%;
}

.flex-item-deliveries-amount{
    flex: 0 0 19%;
}

.flex-item-delivery-extra{
    flex: 0 0 19%;
}

.flex-item-day-consumption{
    flex: 0 0 19%;
}

input[type="number"] {
    /* Ajusta a aparência no Firefox */
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Remove spinners em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-appearance: none;
}

label{
    padding-top: 5px;
    font-size: .9em;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--hr-color);
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
}

.extra-employee-container{
    margin-top: 40px;
    border: none;
    border-top: 1px solid white;

    legend{
        padding: 10px;
        text-align: center;
    }
}

button{
    font-size: .75em;
    font-weight: 400;
    padding: 5px 9px;
    border-radius: 5px;
    border: none;
    background-color: var(--copy-button-background-color);
    line-height: 1em;
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px 3px var(--copy-button-emphasis-color);
}

button:active{
    transform: scale(0.95);
    transition: transform 0.1s ease;
    box-shadow: 0px 0px 3px var(--copy-button-emphasis-color);
    background-color: var(--copy-button-background-emphasis-color);
}

/*Estilização para extra de entregadores*/
.flex-item-label-name{
    flex: 0 0 19%;
    border-bottom: var(--input-border-bottom);
}

.flex-item-order-number{
    flex: 0 0 19%;
}

.flex-item-extra-reason{
    flex: 0 0 59%;
}

/*estilização para funcionario extra (diarista)*/
.flex-item-employee-name{
    flex: 0 0 39.5%;

    .float-input{
        padding-left: 0px;
    }

    .float-label{
        left: 0px;
    }
}

.flex-item-daily-payment{
    flex: 0 0 19.5%;
}

.flex-item-pix-key{
    flex: 0 0 38%;
}

.float-input:focus ~ .float-label, .float-input:valid ~ .float-label{ /*animação do label flutuar sobre o input quando está em foco*/
    top: -20px;
    font-size: 0.75em;
}

.hidden{
    display: none;
}

.content{
    display: contents;
    /*Essa classe altera a disposição do texto no relatorio, de forma que fique exatamente como tem que ficar quando for copiado, essa classe deve ser aplicada somente no momento de copiar e depois deve ser retirada para o texto voltar a ter display block*/
}

.popup {
    visibility: hidden;
    width: 250px;
    background-color: var(--popup-background-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    right: 20px; /* Alinha à direita */
    top: 20px; /* Distância do topo */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

.order-0{
    order: 0;
}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.order-3{
    order: 3;
}

.order-4{
    order: 4;
}

.order-5{
    order: 5;
}
