@charset "UTF-8";

:root{
    --primary-background-color: #052338;
    --secondary-background-color: #1e90ff;
    --body-background: linear-gradient(to right, #1493dc, #113647);
    --text-color: #ffffff;
    --input-text-color: #000000;
    --hr-color: rgba(204, 204, 204, 0.5);
    --background-button-color: rgb(0, 92, 197);
    --hover-button-color: rgb(0, 79, 170);
    --copy-button-background-color: #031725;
    --copy-button-emphasis-color: rgba(255, 255, 255, 1);
    --copy-button-background-emphasis-color: #062d49;
    --popup-background-color: #333333;

}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-color);
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--body-background);
    overflow-x: hidden;
}

.flex-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 25px;
}

.container{
    width: 800px;
    background-color: var(--primary-background-color);
    padding: 15px;
    border-radius: 15px;
}

fieldset{
    border: 3px solid var(--secondary-background-color);
    padding: 5px 8px 8px 8px;
}

.secondary-fieldset{
    border: 2px solid var(--secondary-background-color);
    margin-top: 12px;
}

legend{
    font-weight: bold;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

.primary-legend{
    text-align: center;
    font-size: 1em;
}

.secondary-legend{
    text-align: left;
    font-size: .8em;
}

.delivery-person-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &#delivery-person-extra{
        display: none;
    }
}

.delivery-person-container > fieldset{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 48%;
    border: none;
    padding: 2px;

    & input{
        flex: 9 1 50px;
    }

    & label{
        flex: 1 1 50px;
    }
}

input{
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-size: .9em;
    color: var(--input-text-color);
}

input[type="number"] {
    /* Ajusta a aparência no Firefox */
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Remove spinners em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-appearance: none;
}

label{
    padding-top: 5px;
    font-size: .9em;
}

hr{
    border: none;
    height: 1px;
    background-color: var(--hr-color);
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
}

.add-button{
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0px;
    font-size: 1em;
    background-color: var(--background-button-color);
    color: var(--text-color);
}

.add-button:hover{
    background-color: var(--hover-button-color);
}

#report{
    position: relative;

    & .delivery-report-container{
        display: none;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

section > div > span{
    display: block;
}

.large-flex-item{
    padding: 3px;
    border-left: 1px solid var(--hr-color);
    flex: 0 1 484px;
}

.small-flex-item{
    padding: 3px;
    border-left: 1px solid var(--hr-color);
    flex: 0 1 241px;
} 

div.copy-button{
    position: absolute;
    top: -12px;
    right: 6px;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica;
    font-size: .75em;
    font-weight: 400;
    border: 1px solid 031725;
    border-radius: 5px;
    background-color: var(--copy-button-background-color);
    padding: 5px;
    line-height: 1em;
    cursor: pointer;
}

div.copy-button:hover{
    box-shadow: 0px 0px 3px var(--copy-button-emphasis-color);
}

div.copy-button:active{
    box-shadow: 0px 0px 3px var(--copy-button-emphasis-color);
    background-color: var(--copy-button-background-emphasis-color);
}

.popup {
    visibility: hidden;
    width: 250px;
    background-color: var(--popup-background-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    right: 20px; /* Alinha à direita */
    top: 20px; /* Distância do topo */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}
