@charset "UTF-8";

:root{
    --primary-color: #1e90ff;
    --secuncary-color: #052338;
}

/*
linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71))
linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220))

*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    overflow-x: hidden;
}

.flex-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 25px;
}

.box{
    width: 800px;
    background-color: var(--secuncary-color);
    padding: 15px;
    border-radius: 15px;
}

fieldset{
    border: 3px solid var(--primary-color);
    padding: 5px 8px 8px 8px;
}

.secundary-fieldset{
    border: 2px solid var(--primary-color);
    margin-top: 12px;
}

legend{
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.main-legend{
    text-align: center;
    font-size: 1em;
}

.secundary-legend{
    text-align: left;
    font-size: .8em;
}

input{
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-size: .9em;
}

label{
    padding-top: 5px;
    font-size: .9em;
}

.div-entregadores{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.div-entregadores > fieldset{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 48%;
    border: none;
    padding: 2px;
}

.div-entregadores > fieldset > input{
    flex: 9 1 50px;
}

.div-entregadores > fieldset > label{
    flex: 1 1 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Remove spinners em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-appearance: none;
}

input[type="number"] {
    /* Ajusta a aparência no Firefox */
    appearance: textfield;
}


hr{
    border: none;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.5);
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
}

.addButton{
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0px;
    color: white;
    font-size: 1em;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
}

.addButton:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

#relatorio{
    height: 500px;
    position: relative;
}

div.copy-content{
    position: absolute;
    top: -12px;
    right: 6px;
    font-family: ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica;
    font-size: .75em;
    font-weight: 400;
    border: 1px solid 031725;
    border-radius: 5px;
    background-color: #031725;
    padding: 5px;
    line-height: 1em;
    cursor: pointer;
}

div.copy-content:hover{
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

div.copy-content:active{
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    background-color: #062d49;
}