@import url('./_variables.css');
@import url('./_dark-mode.css');
@import url('./_animations.css');

label{
    padding-top: 5px;
    font-size: .9em;
    height: 29px;
    padding-left: 10px;
    border-radius: var(--label-border-radius);
}

.float-label{
    position: absolute;
    top: 1px;
    left: 10px;
    padding-left: 0px;
    pointer-events: none;
    transition: .5s;
    color: var(--text-color);
}