.dark-mode:root{
    --body-bg-color: #052338;
    --header-bg-color: #103F89;
    --footer-bg-color: #103F89;
    --secondary-bg-color: #113647;

    --button-bg-color: #031725;
    --button-shadow-color: rgba(255, 255, 255, 1);
    --active-bg-button-color: #062d49;
    --theme-button-bg-color: #031725;

    --text-color: white;
    --button-text-color: white;

    --input-bg-color: none;
    --input-border-bottom: 1px solid white;
    --input-border-radius: 0px;

    --label-name-border-bottom: 1px solid white;
    --label-bg-color: none;
    --label-border-radius: 0px;

    --divider-color: rgba(204, 204, 204, 0.5);
    
    --popup-bg-color: #707070;
    --popup-text-color: white;
    
}