@import url('./variables.css');
@import url('./dark-mode.css');

input{
    outline: none;
    border: none;
    padding: 5px 5px 0px 0px;
    font-size: 1em;
    height: 100%;
    width: 100%;
    background: var(--input-bg-color);
    border-bottom: var(--input-border-bottom);
    border-radius: var(--input-border-radius);
    color: var(--text-color);
    padding-left: 10px;
}

input[type="number"] {
    /* Ajusta a aparência no Firefox */
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /* Remove spinners em navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-appearance: none;
}

.input-invalid-value{
    color: var(--text-color-input-invalid);
    transition: 0.1s ease;
    box-shadow: var(--box-shadow-input-invalid);
}